body {
    margin: 0 auto;
}

.login-popup {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    text-align: center;
    padding-top: 150px;
    border-radius: 20px;
    display: none;
}

.login-popup input {
    width: 200px;
    height: 30px;
    background-color: rgba(red, green, blue, 0.1);
    padding-left: 10px;
    border-radius: 20px;
    margin: 5px
}
li { 
    display: inline-block;
}

header {
    height: 50px;
    width: 1024px;
    background-color: #008793;
}